* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
}
@font-face  {
				font-family: 'lemon';
				src: url('fonts/LEMONMILK-Regular.otf');
}
@font-face  {
				font-family: 'pop';
				src: url('fonts/Poppins-Regular.ttf');
}
/* nav bar start */
.nav-link {
				font-family: lemon;
				font-size: 12px;
				margin-right: 10px;
				margin-left: 10px;				
				color: #616161;	
				text-transform: uppercase;
}
.nav-link:hover {
				background: -webkit-linear-gradient(#616161, #fff742); 
				-webkit-background-clip: text; 				-webkit-text-fill-color: transparent;			
				transition: all ease 0.3s;		
}
/* nav bar ends */

/* header start */
.banner {	
				background-image: url('images/homebanner.jpg');
				background-size: cover;
				background-position: center;
				height: 100vh;
}						
.bannertext {
				text-align: center;
				color: #ffffff;
				padding-top: 100px;
}
.bannertext h1 {
				margin-top: 50px;
				font-size: 75px;
				font-weight: bold;
				font-family: lemon;
				color: #f8f8ff;
				
}
.bannertext p {
				font-size: 20px;
				font-style: italic;
				font-family: pop;
}
.button {
				margin: 40px auto;
				font-family: 'Poppins';
}
.button a {
				width: 200px;
				text-decoration: none;
				margin: 20px auto auto auto;
				display: block;
				padding: 12px 0;
				color: #ffffff;
				border: .10px solid #ffffff;
				position: relative;
				z-index: 1;
}
.button a span {
				width: 0%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: #fbee9b;
				z-index: -1;
}
.button a:hover span {
				width: 100%;
				height: 100%;
}
.button a:hover {
				color: #000000;
				transition: 0.6 all;
}
/* services section */
.section-heading {
				font-family: pop;
				margin-top: 25px;
				font-weight: bold;
				font-size: 30px;
				text-align: center;
				text-transform: uppercase;
}
.servicesecc{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #fbee9b 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
		font-family: lemon;
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
section p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #000;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #fbee9b;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #fbb901;
  color: #000;
}
.card:hover h3 {
  color: #000;
}
.card:hover p {
  color: #000;
}

/* about section */
.about-section{
    background: url(images/aboutus.jpg) no-repeat left;
    background-size: 55%;
    background-color: #FBF7D5;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #CCE1F2;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  background-color: #000;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper .footer-widget {
  width: calc(20% - 30px);
  margin: 0 15px 50px;
  padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
  width: calc(40% - 50px);
  margin-right: 15px;
}

.wrapper .footer-widget .logo {
  margin-bottom: 30px;
  vertical-align: middle;
}

.wrapper .footer-widget p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}
.wrapper .footer-widget h6 {

  color: #fbee9b;
  margin: 10px 0 35px;
  font-size: 20px;
  font-weight: 600;
}

.wrapper .footer-widget .links li {
  list-style: none;
}
.wrapper i {
			color: #fbee9b;
}

.wrapper .footer-widget .links li a {
  color: #fbee9b;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 32px;
  transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
  color: #037ef3;
}

.copyright-wrapper {
  padding: 20px 0;
  border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p {
  color: rgba(88, 89, 120, 0.6);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copyright-wrapper p {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/* Let's write the media query */
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .wrapper .footer-widget,
  .wrapper .footer-widget:nth-child(1) {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .wrapper .footer-widget,
  .wrapper .footer-widget:nth-child(1) {
    width: 100%;
    margin: 0 10px 50px;
  }
}


/*services mediascreen */
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
